main{
    width: 100%;
    min-height: 100vh;
}

section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    background-color: #80f0ffb9;
}

@media (min-width: 993px) {
    .w3-sidebar.w3-collapse {
        display: block!important;
    }  
}

/* @media (max-width: 600px) {
    .w3-sidebar.w3-collapse {
        display: none!important;
    }  
} */

.sidebar {
    transition: all ease 1s;
    height: 100%;
    width: 20%;
    left: 0%;
    top: 160px;
    transform: translateX(-92%);
    position: absolute;
    position: fixed!important;
    z-index: 1;
    /* overflow: auto; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.toggle-btn{
    border: 5px solid #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(0, 32, 119);
    position: absolute;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.sidebar > .toggle-btn{
    top: 10px;
    left: 94%;
    z-index: 9;
}

.sidebar > .toggle-btn i{
    color: #fff;
    font-size: 18px;
    transform: rotate(180deg);
    animation: popIcon1 1s linear infinite;
}

@keyframes popIcon1 {
    0%{
        transform: translateX(-3px);
    }
    25%{
        transform: translateX(5px);
    }
    50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(-3px);
    }
}

#leftmenuinner {
    position: absolute;
    /* padding-top: 120px; */
    /* visibility: hidden; */
    top: 0%;
    padding-bottom: 0px;
    height: 100%;
    width: 100%;
    background-color: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#leftmenuinnerinner {
    padding-top: 50px;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff7af;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#leftmenuinnerinner::-webkit-scrollbar {
   width: 10px;
}

#sidenav h2 {
    font-size: 21px;
    padding: 6px 0px;
    text-align: center;
    margin: 20px auto;
    border-radius: 6px;
    width: 90%;
    background-color: rgb(255, 3, 3);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    color: rgb(255, 255, 255);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    /* margin: 10px 0; */
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    
}

#sidenav a.active {
    background-color: #04AA6D!important;
    color: #ffffff!important;
}

#sidenav a {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 600;
    text-decoration: none;
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
    color: #133b0b;
    font-size: 14px;
    background-color: #ffffff;
    margin-top: 10px;
    transform: scale(1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#sidenav a:hover {
    font-family: "Segoe UI",Arial,sans-serif;
    text-decoration: none;
    display: block;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: rgb(255, 103, 230);
    color: #ffffff;
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    transform: scale(1.1);
}

a:-webkit-any-link {
    /* color: -webkit-link; */
    cursor: pointer;
    /* text-decoration: underline; */
}

.ref_overview, .tut_overview {
    display: none;
    margin-left: 10px;
    background-color: #ddd;
    line-height: 1.8em;
}

article{
    margin-top: 180px;
    transition: all ease 1s;
    border-radius: 20px;
    width: 94%;
    height: auto;
    margin-left: 4%;
    display: flex;
    align-items: center;
    justify-content: start;
    /* flex-direction: column; */
    gap: 10px;
    
}

.blog-area{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-radius: 20px;
    width: 100%;
    height: auto;
}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: auto;
}

.advertizment-area{
    background-color: #d6ffe0;
    object-fit: cover;
    border-radius: 20px;
    width: 20%;
    height: 100%;
    /* background-color: rgb(103, 231, 29); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.advertizment-area img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #133b0b;
}

.banner-area{
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 100%;
    height: 60vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.banner{
    margin-top: 0px;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 60vh;
    border-radius: 10px;
}

/* Style the heading */
.banner-area h1 {
    font-size: 40px;
    color: rgb(255, 196, 0);
    font-family: sans-serif;
    font-weight: bold;
}

/* Style the subtext */
.banner-area p {
    font-size: 18px;
    color: rgb(0, 255, 13);
    font-family: sans-serif;
    font-weight: 600;
    
}

/* Style the call-to-action button */
.banner-area .cta-button {
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.banner-area .cta-button:hover{
    background-color: #2980b9;
}

.text-area{
    margin-top: 30px;
    padding-bottom:30px ;
    width: 100%;
    height: fit-content;
    
    border-radius: 20px;
    
}

.title{
    padding: 50px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 94%;
    height: 50px;
    /* background-color: #d6ffe0; */
    margin: 20px auto;
    background-color: rgb(255, 3, 3);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    color: rgb(255, 255, 255);
}

.title h1{
    font-size: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

footer{
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 50px;
    width: 100%;
    height: fit-content;
    margin: 50px auto;
    background-color: #d6ffe0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


footer .ft-menu{
    padding: 0px 0px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 96%;
    min-height: fit-content;
    background-color: #d6ffe0;
    display: flex;
    color: rgb(0, 0, 0);
    margin:0 auto;
}

/* this is main left Menu styling (top)*/

footer .ft-menu .left-menu{
    
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: start;
    width: 100%;
}

/* this is main left Menu logo styling (top)*/

footer .ft-menu .left-menu .logo{
    /* border: 1px solid red; */
    /* padding: 30px 25px; */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: fit-content;
}

/* this is main left Menu item styling (top) */
footer .ft-menu .left-menu .left-menu-item a{
    text-decoration: none;
    cursor: pointer;
}

footer .ft-menu .left-menu .left-menu-item a:hover{
    text-decoration: none;
}

footer .ft-menu .left-menu .left-menu-item a h3{
    letter-spacing: 1.5px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000000;
    font-size: 12px;
    font-family: 600;
}

footer .ft-menu .left-menu .left-menu-item{
    justify-content: center;
    align-items: center;
    display: flex;
    width: fit-content;
    height: 100%;
}

footer .ft-links{
    padding-top: 30px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .ft-links .link-card{
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer .ft-links .link-card h3{
    font-size: 21px;
    padding: 6px 30px;
    text-align: center;
    margin: auto;
    border-radius: 6px;
    width:fit-content;
    background-color: rgb(255, 3, 3);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    color: rgb(255, 255, 255);
}

footer .ft-links .link-card ul{
    margin-top: 20px;
    margin:0px auto;
}

footer .ft-links .link-card ul li{
    list-style-type: none;
}

footer .ft-links .link-card ul li a{
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 600;
    text-decoration: none;
    display: block;
    width: fit-content;
    border-radius: 20px;
    color: #133b0b;
    font-size: 12px;
    background-color: #ffffff;
    margin-top: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

footer .ft-links .link-card ul li a #certificate{
    width: 160px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 600;
    font-size: 16px;
}

/* footer area end */

